--index-url https://download.pytorch.org/whl/cpu
--extra-index-url https://pypi.org/simple

fastapi
uvicorn[standard]
python-multipart
edge-tts
torch==2.10.0
torchvision==0.25.0
timm
Pillow
safetensors
huggingface-hub
openai
